<div class="row flex-column mt-5">
  <div class="col-md-12 d-flex flex-column align-center">
    <div class="lists">
      <h1>My Lists</h1>
      <ul class="list-style-none pt-20">
        <% @lists.each do |list| %>
          <li class="list-name">
            <%= link_to list.title, list_items_path(list) %>
            <%= link_to 'X', list_path(list), method: :delete , class: 'delete-button'%>
          </li>
        <% end %>
      </ul>
      <%= render 'form', list: List.new %>
    </div>
  </div>
</div>